{:name "ui-analytics"
 ; build
 :lazy false
 :cljs-namespace [frontend.analytics.google-tag]
 :cljs-ns-bindings {'frontend.analytics.google-tag {'frontend.analytics.google-tag frontend.analytics.google-tag/send-event
                                      }}

}
