{:name "ui-dialog"
 ; build
 :lazy-sci false
 :cljs-namespace [frontend.dialog]
 :cljs-ns-bindings {'frontend.dialog {'modal-container frontend.dialog/modal-container
                                      'dialog-show frontend.dialog/dialog-show
                                      'dialog-close frontend.dialog/dialog-close}}
 
 :theme {:available {:dialog {true ["webly/dialog.css"]
                                    false []}}
         :current {:dialog true}}
 
 }
